templates:
  default-release: &default-release
    namespace: arc-runners
environments:
  default:
    values:
      - kubeContext: kind-homeops
        releases:
          arc-controller:
            version: 0.12.1
            namespace: arc-system
          arc-runners:
            version: 0.12.1
            <<: *default-release
---
templates:
  default: &default
    kubeContext: '{{ .Values.kubeContext }}'
    version: '{{`{{ .Values | get "releases" | get .Release.Name | get "version" }}`}}'
    namespace: '{{`{{ .Values | get "releases" | get .Release.Name | get "namespace" }}`}}'

releases:
  - name: arc-controller
    chart: oci://ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set-controller
    <<: *default
  - name: arc-runners
    chart: oci://ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set
    <<: *default
    needs:
      - arc-system/arc-controller
    values:
      - values.yaml
